.active {
  /* color: pink; */
}

body {
  /* width: 3000px; */
  height: 3000px;
}
.parent_9, .parent_10, .parent_11 {
  width: 300px;
  height: 200px;
  margin-top: 100px;
  margin-left: 50px;
  padding: 20px;
  overflow: auto;
  border: 10px solid;
}
.child_9, .child_10, .child_11 {
  height: 100px;
  margin-bottom: 20px;
  border: 10px solid red;
  font-size: 50px;
}

.parent_11, .parent_12, .parent_13, .parent_14, .parent_15, .parent_16, .parent_17 {
  width: 400px;
  height: 200px;
  margin: 40px;
  padding: 20px;
  overflow: auto;
  border: 10px solid;
  background-color: red;
}
.child_11, .child_12, .child_13, .child_14, .child_15, .child_16, .child_17 {
  width: 300px;
  height: 100px;
  margin-bottom: 20px;
  border: 10px solid;
  background-color: orange;
  font-size: 40px;
}
.child_16 {
  position: relative;
}
.tooltip {
  display: none;
  position: absolute;
  top: 70px;
  left: 50px;
  z-index: 1;
  width: 100%;
  padding: 10px;
  border: 10px solid;
  background-color: orange;
  font-size: 22px;
}
.tooltip.active {
  display: block;
}

.parent_18 {
  width: 400px;
  height: 150px;
  padding: 20px;
  border: 10px solid;
  background-color: red;
  overflow: auto;
}
.parent_18.active {
  background-color: royalblue;
}
.child_18 {
  width: 150px;
  height: 100px;
  margin-bottom: 20px;
  border: 10px solid;
  background-color: orange;
  font-size: 50px;
}
.child_18.active {
  border-color: royalblue;
  color: royalblue;
}